<div class="flex h-screen w-screen items-center justify-center align-middle">
    <div nz-col>
        <div nz-row class="flex-col-reverse xl:flex-row">
            <div nz-col class="text-center px-3 xl:text-left xl:px-0">
                <div class="w-auto xl:w-4/5">
                    <h1 class="font-bold text-[2rem] xl:text-[4rem] leading-tight">Front-end Angular Developer</h1>
                    <p class="text-[1.5rem]">Hi. I'm Kenryan Luke. A passionate Front-end Angular Developer based in
                    Dubai, UAE</p>
                </div>
                
                <div class="flex gap-3 justify-center mt-2 xl:justify-start">
                    <a href="https://github.com/kenryanlukearias">
                        <span class="github"></span>
                    </a>
                    <a href="https://www.linkedin.com/in/kenryan-luke-arias-a0326b2a8/">
                        <span class="linkedin"></span>
                    </a>
                </div>
            </div>
            
            <div nz-row class="justify-center">
                <div class="img flex flex-grow self-center"></div>
            </div>
        </div>
        <div nz-row class="flex gap-6 items-center flex-col xl:flex-row">
            <div class="font-bold text-2xl self-center">
                Tech Stack
            </div>
            <div class="spacer"></div>
            <div>
                <ul class="content-center flex flex-wrap gap-3 xl:gap-9 justify-center">
                    <li><img src="https://skillicons.dev/icons?i=html,css" alt="skill-icon"></li>
                    <li><img src="https://skillicons.dev/icons?i=js,ts" alt="skill-icon"></li>
                    <li><img src="https://skillicons.dev/icons?i=angular,nodejs" alt="skill-icon"></li>
                    <li><img src="https://skillicons.dev/icons?i=tailwind,scss" alt="skill-icon"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<app-about></app-about>
<app-projects></app-projects>
<app-contact></app-contact>