<div class="flex h-screen w-screen bg-gray-800 justify-center align-middle">
    <div nz-col class="bg-slate-300 h-fit self-center mx-auto">
        <div nz-row class="flex">
            <div nz-row class="bg-red-400" nz-col nzXs="24" nzSm="24" nzMd="14" nzLg="14" nzXl="14">
                <h1 class="font-[780] text-[4rem]">Front-end Angular Developer</h1>
                <p class="text-base xl:text-2xl">Hi. I'm Kenryan Luke. A passionate Front-end Angular Developer based in
                    Dubai, UAE</p>
                <div class="icons flex gap-3 text-left mx-auto xl:mx-0">
                    <a href="https://github.com/kenryanluke">
                        <span class="text-4xl" nz-icon nzType="github" nzTheme="outline"></span>
                    </a>
                    <a href="https://www.linkedin.com/in/kenryan-luke-arias-a0326b2a8/">
                        <span class="text-4xl" nz-icon nzType="linkedin" nzTheme="outline"></span>
                    </a>
                </div>

            </div>
            <div nz-row class="bg-green-400 w-" nzXs="24" nzSm="24" nzMd="10" nzLg="10" nzXl="10">
                <div class="img flex flex-grow"></div>
            </div>
        </div>
        <div nz-col zXs="24" nzSm="24" nzMd="13" nzLg="24" nzXl="24">
            <div nz-row class="flex gap-6 items-center">
                <div class="font-bold text-2xl self-center">
                    Tech Stack
                </div>
                <div class="spacer"></div>
                <div>
                    <ul class="content-center flex gap-2">
                        <li><img src="https://skillicons.dev/icons?i=html,css" alt="skill-icon"></li>
                        <li><img src="https://skillicons.dev/icons?i=js,ts" alt="skill-icon"></li>
                        <li><img src="https://skillicons.dev/icons?i=angular,nodejs" alt="skill-icon"></li>
                        <li><img src="https://skillicons.dev/icons?i=tailwind,scss" alt="skill-icon"></li>
                    </ul>
                </div>
            </div>

        </div>


    </div>
</div>