<div class="body">
    <div>
        <div class="content">
            <div class="img xl:hidden "></div>
            <div class="child">
                <h1 class="font-[780] text-5xl xl:text-6xl">Front-end Angular Developer</h1>
                <p class="text-base xl:text-2xl">Hi. I'm Kenryan Luke. A passionate Front-end Angular Developer based in Dubai, UAE</p>
                <div class="icons flex gap-3 text-left mx-auto xl:mx-0">
                    <a href="https://github.com/kenryanluke">
                        <span class="text-4xl" nz-icon nzType="github" nzTheme="outline"></span>
                    </a>
                    <a href="https://www.linkedin.com/in/kenryan-luke-arias-a0326b2a8/">
                        <span class="text-4xl" nz-icon nzType="linkedin" nzTheme="outline"></span>
                    </a>
                </div>
                <div class="font-bold text-2xl self-center">
                    Tech Stack
                </div>
                <div class="spacer"></div>
                <div>
                    <ul class="logos content-center justify-center">
                        <li><img src="https://skillicons.dev/icons?i=html,css" alt="skill-icon"></li>
                        <li><img src="https://skillicons.dev/icons?i=js,ts" alt="skill-icon"></li>
                        <li><img src="https://skillicons.dev/icons?i=react,next" alt="skill-icon"></li>
                        <li><img src="https://skillicons.dev/icons?i=tailwind,scss" alt="skill-icon"></li>
                    </ul>
                </div>
            </div>
            <div class="content-center img hidden xl:block"></div>
        </div>
    </div>
</div>





