li {
  @apply font-bold text-xl content-center mx-0;

  &:hover {
    cursor: pointer;
    color: #147efb;
    transition: all 0.3s ease;
  }
}

ul {
  @apply self-center flex flex-row gap-6;
}

@media (max-width: 650px) {
  ul {
    display: none;
  }
}

.nav {
  @apply w-screen block h-20 flex-row justify-between px-12 text-xl sticky sm:flex content-center xl:fixed;
}
