<nav class="nav bg-white drop-shadow-md">
    <p class="self-center font-extrabold">kenryan.dev..</p>
    <ul nzMode="horizontal">
        <li routerLink="/home" routerLinkActive="ant-menu-item-selected">
            Home
        </li>
        <li routerLink="/about" routerLinkActive="ant-menu-item-selected">
            About
        </li>
        <li routerLink="/projects" routerLinkActive="ant-menu-item-selected">
            Projects
        </li>
        <li routerLink="/contact" routerLinkActive="ant-menu-item-selected">
            Contact
        </li>
    </ul>
</nav>