<div class="flex h-screen w-screen items-center justify-center align-middle">
    <div class="w-3/4 h-auto gap-9">
        <div class="flex flex-wrap gap-7 xl:flex-nowrap flex-1">
            <div>
                <img class="w-[500%] h-auto border rounded-lg" src="../../../assets/desk stock.jpg" alt="">
            </div>
            <div class="font-bold xl:w-1/2 text-center xl:text-left xl:content-start">
                <p class="text-[15px] font-bold text-center xl:text-left text-[#147efb] xl:text-[15px]">ABOUT ME
                </p>
                <h2 class="font-bold text-[1.8rem] xl:text-[1.5rem]">Front End Developer based in the UAE 📍</h2>
                <p class="text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas dolorem
                    voluptatibus
                    dignissimos officiis aperiam ut mollitia tenetur, perferendis fuga ad, repudiandae cupiditate eum
                    necessitatibus minima distinctio sit debitis aliquid!</p>
            </div>
        </div>
    </div>
</div>