<div class="flex h-screen w-screen items-center justify-center align-middle">
    <div class="w-3/4 h-auto gap-9">
        <div class="flex">
            <div>
                <img class="w-[500%] h-auto" src="../../../assets/desk stock.jpg" alt="">
            </div>
            <div class="text">
                <p>ABOUT ME</p>
                <h2>Front End Developer</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas dolorem voluptatibus
                    dignissimos officiis aperiam ut mollitia tenetur, perferendis fuga ad, repudiandae cupiditate eum
                    necessitatibus minima distinctio sit debitis aliquid!</p>
            </div>
        </div>
    </div>
</div>